<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="modal-processing">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <img src="img/loader.gif" />
        </div>
    </div>
</div>

