#login-view {

    form.spika-form{
    
        input {
            
            border: none;
            border-bottom: 1px solid $gray-lighter;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
      
            line-height: 40px;
            height: 40px;
        }
        
        .form-label{
            margin-top: 20px;
        }
        
        .label-error{
            color: $brand-danger;
        }
    
    }

}