    <div id="login-view" class="container">

        <div class="row">
        
          <div class="col-md-3 col-xs-1 col-sm-1"></div>
          
          <div class="col-md-6 col-xs-10 col-sm-10">
  
            <form class="spika-form">
            
                <h2 class="form-signin-heading">Login to Spika</h2>
                
                <div class="form-group">
                    <div class="form-label">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Name
                    </div>
                    <input type="text" id="input-name" class="form-control">
                    <div class="label-error"></div>
                </div>
                
                <div class="form-group">
                    <div class="form-label">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> ID
                    </div>
                    <input type="text" id="input-id" class="form-control">
                    <div class="label-error"></div>
                </div>
                
                <div class="form-group">
                    <div class="form-label">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  Avatar URL
                    </div>
                    <input type="text" id="input-avatarurl" class="form-control">
                    <div class="label-error"></div>
                </div>
                
                <div class="form-group">
                    <div class="form-label">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Room name
                    </div>
                    <input type="text" id="input-room" class="form-control">
                    <div class="label-error"></div>
                </div>
                
                <div class="spacer">
    
                </div>
                
                <div class="btn btn-lg btn-primary btn-block" id="btn-enter">Sign in</div>
                
            </form>
        
          </div>
          
          <div class="col-md-3 col-xs-1 col-sm-1"></div>
          
        </div>

    
    </div>
    
