<div class="row">
  <div class="col s1" id="primary-color">$primary-color</div>
  <div class="col s1" id="primary-color-light">$primary-color-light</div>
  <div class="col s1" id="primary-color-dark">$primary-color-dark</div>
  <div class="col s1" id="secondary-color">$secondary-color</div>
  <div class="col s1" id="error-color">$error-color</div>
  <div class="col s1" id="link-color">$link-color</div>
  <div class="col s1" id="badge-bg-color">$badge-bg-color</div>
  <div class="col s1" id="button-bg-color-disabled">$button-bg-color-disabled</div>
  <div class="col s1" id="button-color">$button-color</div>
  <div class="col s1" id="button-color-disabled">$button-color-disabled</div>
  <div class="col s1" id="button-color-flat">$button-color-flat</div>
  <div class="col s1" id="button-color-raised">$button-color-raised</div>
  <div class="col s1" id="card-bg-color">$card-bg-color</div>
  <div class="col s1" id="card-link-color">$card-link-color</div>
  <div class="col s1" id="card-link-color-light">$card-link-color-light</div>
  <div class="col s1" id="collapsible-header-color">$collapsible-header-color</div>
  <div class="col s1" id="collapsible-border-color">$collapsible-border-color</div>
  <div class="col s1" id="dropdown-bg-color">$dropdown-bg-color</div>
  <div class="col s1" id="dropdown-hover-bg-color">$dropdown-hover-bg-color</div>
  <div class="col s1" id="dropdown-color">$dropdown-color</div>
  <div class="col s1" id="input-border-color">$input-border-color</div>
  <div class="col s1" id="input-bg-color">$input-bg-color</div>
  <div class="col s1" id="input-error-color">$input-error-color</div>
  <div class="col s1" id="input-success-color">$input-success-color</div>
  <div class="col s1" id="input-focus-color">$input-focus-color</div>
  <div class="col s1" id="input-disabled-solid-color">$input-disabled-solid-color</div>
  <div class="col s1" id="radio-fill-color">$radio-fill-color</div>
  <div class="col s1" id="radio-empty-color">$radio-empty-color</div>
  <div class="col s1" id="switch-bg-color">$switch-bg-color</div>
  <div class="col s1" id="switch-checked-lever-bg">$switch-checked-lever-bg</div>
  <div class="col s1" id="switch-unchecked-bg">$switch-unchecked-bg</div>
  <div class="col s1" id="sidenav-bg-color">$sidenav-bg-color</div>
  <div class="col s1" id="sidenav-padding-right">$sidenav-padding-right</div>
  <div class="col s1" id="slider-bg-color">$slider-bg-color</div>
  <div class="col s1" id="slider-bg-color-light">$slider-bg-color-light</div>
  <div class="col s1" id="slider-indicator-color">$slider-indicator-color</div>
  <div class="col s1" id="tabs-underline-color">$tabs-underline-color</div>
  <div class="col s1" id="tabs-text-color">$tabs-text-color</div>
  <div class="col s1" id="tabs-bg-color">$tabs-bg-color</div>
  <div class="col s1" id="table-border-color">$table-border-color</div>
  <div class="col s1" id="table-striped-color">$table-striped-color</div>
  <div class="col s1" id="toast-color">$toast-color</div>
  <div class="col s1" id="toast-text-color">$toast-text-color</div>
  <div class="col s1" id="off-black">$off-black</div>
  <div class="col s1" id="footer-bg-color">$footer-bg-color</div>
  <div class="col s1" id="collection-border-color">$collection-border-color</div>
  <div class="col s1" id="collection-bg-color">$collection-bg-color</div>
  <div class="col s1" id="collection-active-bg-color">$collection-active-bg-color</div>
  <div class="col s1" id="collection-active-color">$collection-active-color</div>
  <div class="col s1" id="progress-bar-color">$progress-bar-color</div>

</div>
