Depricated

<div class="message-cell {{isMine}} typing" id="{{userID}}-typing">
        
	<div class="avatar">
		<img src="{{ avatarURL }}" />
    </div>
    
    <div class="typing">
        <div>{{{ message }}}</div>
    </div>
    
    <div class="clearfix"></div>
    
</div>

