<div class="message-cell {{isMine}} text" id="{{id}}">

    <div class="user-state-change">
        <div> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{{ message }}} <span class="timestamp">{{{formatDate created}}}</span></div>
    </div>
    
    <div class="clearfix"></div>
    
</div>

