
<div id="messages">
</div>

<div id="additional-notification-container"></div>

<div id="text-message-box-container">
    <textarea id="text-message-box" autocomplete="off" placeholder="{{l10n "Type your text ..."}}"/></textarea>
    
    <span id="btn-emoticons">
        <img src="./img/emoticon.png" />
    </span>
    
    <span id="btn-fileupload">
        <img src="./img/attach.png" />
    </span>
    
    <input type="file" name="photo" id="file-input" style="display:none"/>
</div>
