
<div id="messages">
</div>

<div id="additional-notification-container"></div>

<div id="text-message-box-container">
    <textarea id="text-message-box" autocomplete="off" placeholder="Type your text ..."/></textarea>
    <span id="btn-fileupload" class="glyphicon glyphicon-file" aria-hidden="true"></span>
    <input type="file" name="photo" id="file-input" style="display:none"/>
</div>
