<div id="chat_box">
	<div class="avatar_small">
		<img class="circle_small" src="{{ avatar }}" />
    </div>
    <div class="from-them-image">
        <img src="{{ image }}" />
    </div>
</div>
<div class="clear"></div>
